@font-face {
  font-family: "NanumSquareNeo Light";
  src: local("NanumSquareNeo Light"),
    url("~assets/fonts/NanumSquareNeo-aLt.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareNeo Regular";
  src: local("NanumSquareNeo Regular"),
    url("~assets/fonts/NanumSquareNeo-bRg.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareNeo Bold";
  src: local("NanumSquareNeo Bold"),
    url("~assets/fonts/NanumSquareNeo-cBd.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareNeo Extra Bold";
  src: local("NanumSquareNeo Extra Bold"),
    url("~assets/fonts/NanumSquareNeo-dEb.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareNeo Heavy";
  src: local("NanumSquareNeo Heavy"),
    url("~assets/fonts/NanumSquareNeo-eHv.ttf") format("truetype");
}
