@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 300;
  src: local("NanumSquareNeo Light"),
    url("~assets/fonts/NanumSquareNeo-aLt.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 400;
  src: local("NanumSquareNeo Regular"),
    url("~assets/fonts/NanumSquareNeo-bRg.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 700;
  src: local("NanumSquareNeo Bold"),
    url("~assets/fonts/NanumSquareNeo-cBd.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 800;
  src: local("NanumSquareNeo Extra Bold"),
    url("~assets/fonts/NanumSquareNeo-dEb.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 900;
  src: local("NanumSquareNeo Heavy"),
    url("~assets/fonts/NanumSquareNeo-eHv.ttf") format("truetype");
}
