@import url("./_reset.scss");
@import url("./_font.scss");

body {
  font-family: "Montserrat", sans-serif;
}
$content-font: "NanumSquareNeo";

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

.text__blue {
  color: #2686d9;
}

.wrap {
  width: 100%;
  height: 100%;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 0 309px;
  z-index: 100;
  .logo {
    width: 176px;
    height: 30px;
    img {
      width: 176px;
      height: 30px;
    }
  }
  .menus {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    li {
      a {
        font-size: 20px;
        font-weight: 800;
        line-height: 40px;
        color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}

footer {
  padding: 60px 309px;
  background-color: #000;
  .logo {
    width: 178px;
    height: 30px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .footer__content {
    font-family: $content-font;
    font-size: 16px;
    font-weight: 300;
    margin-top: 30px;
    .footer__text {
      color: rgba(255, 255, 255, 0.8);
    }
    div {
      display: flex;
      justify-content: space-between;
      margin-top: 18px;
      ul {
        display: flex;
        gap: 50px;
        li {
          display: flex;
          gap: 16px;
          span {
            &:first-child {
              color: rgba(255, 255, 255, 0.4);
            }
          }
        }
      }
      .footer__copyright {
        color: rgba(255, 255, 255, 0.4);
      }
    }
  }
}
