@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 300;
  src: local("NanumSquareNeo Light"),
    url("~assets/fonts/NanumSquareNeoTTF-aLt.woff2") format("truetype");
}
@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 400;
  src: local("NanumSquareNeo Regular"),
    url("~assets/fonts/NanumSquareNeoTTF-bRg.woff2") format("truetype");
}
@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 700;
  src: local("NanumSquareNeo Bold"),
    url("~assets/fonts/NanumSquareNeoTTF-cBd.woff2") format("truetype");
}
@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 800;
  src: local("NanumSquareNeo Extra Bold"),
    url("~assets/fonts/NanumSquareNeoTTF-dEb.woff2") format("truetype");
}
@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 900;
  src: local("NanumSquareNeo Heavy"),
    url("~assets/fonts/NanumSquareNeoTTF-eHv.woff2") format("truetype");
}
