// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$body-font-family: "Montserrat";
$toolbar-content-padding-x: 0;
$toolbar-content-padding-y: 0;
